section.search, section.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("https://source.unsplash.com/Ycds6emp7BA/1600x900"); /* rFKBUwLg_WQ */
    background-size: cover;
    min-height: 100vh;
}

/* Media screen for home background image */
@media only screen and (max-width: 750px){
    section.search{
        background-image: url("https://source.unsplash.com/-4-KfFh2eIU/750x1125"); /* MtOVM_rKgag 5bwgW8_9OPs 8tZMt-EiBp8*/
    }
}

section.select {
    /*background-image: linear-gradient(to right bottom, whitesmoke,whitesmoke);*/
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav a {
    margin:5px;
    padding:5px;
    color: #666666;
    font-size: 1rem;
}

nav a:hover {
    color: #FF4B2B;
}

.header-content {
    display: flex;
    justify-content: flex-start;
}