section.search, section.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("https://source.unsplash.com/Ycds6emp7BA/1600x900"); /* rFKBUwLg_WQ */
    background-size: cover;
    min-height: 100vh;
}

section.select {
    background-image: linear-gradient(to right bottom, whitesmoke,cornsilk);
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav a {
    margin:5px;
    padding:5px;
    color: white;
}

nav.dark a {
    color:#666666;
}

.header-content {
    display: flex;
    justify-content: flex-start;
}