section.search, section.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("https://source.unsplash.com/Ycds6emp7BA/1600x900"); /* rFKBUwLg_WQ */
    background-size: cover;
    min-height: 100vh;
}

section.select {
    background-image: linear-gradient(to right bottom, #FF5454, #FE8A4D, #FDD64D);
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav a {
    margin:5px;
    padding:5px;
    color: white;
}

nav.dark a {
    color:#666666;
}

.header-content {
    display: flex;
    justify-content: flex-start;
}

.search-form {
    margin-left: 20px;
    min-width: 350px;
}

.header-form {
    border-radius: 5px;
    color: #666666;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.header-form h2{
    text-align: left;    
}

.header-form input {
    background-color: white;
    border-radius: 5px;
}

.header-form label {
    text-align: left;
    width: 100%;
}