* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', 'Muli', sans-serif;
	color: #666666;
	margin: 0;
}

h1 {
  font-family: 'Montserrat', 'Muli', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 30px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
/* Search Form */
.search-form-container {
    margin-left: 20px;
    min-width: 350px;
}

.header-form {
    border-radius: 5px;
    color: #666666;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
}

.header-form.select{
    padding: 5px;   
    width: 90%;
    margin: 0 auto;
}

.header-form.search{
    max-width: 370px;
}

.header-form h1{
    text-align: left;    
}

.header-form input {
    background-color: white;
    border-radius: 5px;
}

button{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 20px;
	width: 70%;
	margin: 0 auto;
	margin-top: 15px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 30px;
	height: 100%;
}

.search-form-element-container.select{
	display: flex;
	justify-content: space-evenly;
	padding-right: 20px;
}

.search-form-element.select{
	width: 25%;
}

.search-form-element.centered{
	text-align: center;
}


input, textarea {
	background-color: #eee;
	color: #999999;
	font-size: 16px;
	padding: 12px 15px;
	margin-bottom: 15px;
	margin-top: 5px;
	width: 100%;
	border: 1px solid #eceaea;
}

input.half{
	width: 50%;
}

input:focus {
	outline: none;
	border-bottom: 1px solid lightpink;
}

label {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.2em;
}

.hide {
  display: none;
}

/* auto complete box */
#results{ 
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
ul.countries {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.country-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 3px;
	margin: 0.5rem;
	font-size: .9rem;
}
.country-item:hover {
    color: salmon;
}
span.error{
	margin-top: 5px;
	color: #FF4B2B;
	font-size: .7rem;
	margin-left: 10px;
}

/* Loading */
.lds-dual-ring {
	display: inline-block;
  }
  .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 11.5px;
	height: 11.5px;
	margin: 0px;
	border-radius: 50%;
	border: 5px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.5s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  