* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', 'Muli', sans-serif;
	color: #666666;
	margin: 0;
}

h1, h2, h3 {
	font-weight: bold;
	margin: 0;
}
h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: .8rem;
}

@media only screen and (max-width: 380px){
	h1 {
		font-size: 1.3rem;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 1.1rem;
	}
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: .6rem;
	}
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
/* Search Form */
.search-form-container {
	margin: 20px;
}

/* Media screen for main form */
@media only screen and (max-width: 450px){
	.search-form-container {
		margin: 0 auto;
		opacity: 0.9;
	}	
}

.header-form {
	border-radius: 5px;
    color: #666666;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
}

.full-screen {
	width: 100vw;
	height: 100vh;
	opacity: 1;
}

.header-form.select{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
    padding: 5px;   
    width: 100%;
    margin: 0 auto;
}

.header-form.search{
    max-width: 370px;
}

.header-form h1{
	text-align: left;  
	padding-bottom: 20px;
}

button{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	width: 70%;
	margin: 0 auto;
	margin-top: 15px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 30px;
	height: 100%;
}

.search-form-element-container.select{
	display: flex;
	justify-content: center;
	padding-right: 20px;
}

.search-form-element.select{
	margin-left: 20px;
}

.search-form-element.centered{
	text-align: center;
}

.search-form-element.select.centered{
	margin-top: 10px;
	width: 350px;
}

input, textarea {
	background-color: white;
	color: #666666;
	font-size: 16px;
	padding: 12px 15px;
	margin-bottom: 15px;
	margin-top: 5px;
	width: 100%;
	border: 1px solid #eceaea;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

input.from, input.from.select {
	background: url(./assets/icons/maps-and-flags.png) no-repeat 3%;
	background-size: 16px;
	padding-left: 28px;
	opacity: 0.8;
}

input.half{
	width: 50%;
}

input:focus {
	outline: none;
	border-bottom: 1px solid lightpink;
}

label {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: cadetblue;
}

.hide {
	display: none;
}

/* auto complete box */
#results{ 
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 15;
}
ul.countries {
	position: absolute;
	background-color: cornsilk;
	width: 100%;
	z-index: 15;
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.country-item {
	padding: 3px;
	margin: 0.5rem;
	font-size: .9rem;
}
.country-item:hover {
    color: salmon;
}
span.error{
	margin-top: 5px;
	color: #FF4B2B;
	font-size: .7rem;
	margin-left: 10px;
}
span.small-set, input span.small-set{
	font-size: .7rem;
	margin-left: .3rem;
}

/* Loading indicator*/
.lds-dual-ring {
	display: inline-block;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 11.5px;
	height: 11.5px;
	margin: 0px;
	border-radius: 50%;
	border: 5px solid #FF4B2B;
	border-color: #FF4B2B transparent #FF4B2B transparent;
	animation: lds-dual-ring 1.5s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Result contents */
.date-up, .date-down{
	padding-top: 10px;
	background: url(./assets/icons/take-off.png) no-repeat 3%;
	background-size: 20px;
	padding-left: 35px;
	opacity: .7;
	color: #333;
	font-size: .8rem;
}

.date-down{
	background: url(./assets/icons/landing.png) no-repeat 3%;
	background-size: 20px;
}

.search-result-container{
	padding-top: 40px;
	display: flex;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

.result-list-container{
	background-color: cornsilk;
	border-top-left-radius: 5px;
	display: flex wrap;
	flex-direction: row;
	width: 40%;
}

.result-map{
	background-color: cornsilk;
	border-top-right-radius: 5px;
	width: 60%;
	padding: 10px;
}

.map-container{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	border: 1px solid #c2b8b8;
	border-radius: 5px;
}

#map{
	width: 100%;
	height: 85vh;
	z-index: -1;
}

.flight-item{
	margin: 10px;
	padding: 10px;
	min-width: 290px;
	background-color: white;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #eee;
}

.flight-item:hover {
	border: 1px solid cadetblue;
}

.flight-details{
	display: flex;
	justify-content: space-around;
}

/* Media screen for search result page */
@media only screen and (max-width: 750px){
	.header-form h1{
		text-align: left;  
		padding-bottom: 0px;
	}

	.result-map{
		display: none;
	}	
	.result-list-container{
		width: 100%;
	}
	.flight-item{
		margin: 4px;
	}
	.search-form-element-container.select{
		flex-direction: column;
	}
	/* form > div > div > label {
		display: none;
	} */
	.search-form-element.select.centered{
		width: 100%;
		margin-top: 0px;
	}
	.result-list-container{
		border-top-right-radius: 5px;
	}
	input, textarea {
		margin-bottom: 0px;
		/*hack for safari on mobile*/
		-webkit-appearance: none;
		border-radius: 0;
	}
}

.large-display{
	color: #FF4B2B;
	font-size: 1.4rem;
}

@media only screen and (max-width: 890px){
	.large-display{
		font-size: .8rem;
	}
	label{
		font-size: .6rem;
	}
}

.date {
	margin-top: 10px;
	font-size: .8rem;
}

.error-container{
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7); /* Black background with opacity */
	z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}